name: Crystal CI

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 10 * 6"

jobs:
  check_format:
    runs-on: ubuntu-latest
    steps:
      - name: Install Crystal
        uses: crystal-lang/install-crystal@v1
      - name: Check out repository code
        uses: actions/checkout@v6
      - name: Check format
        run: crystal tool format --check

  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - { os: ubuntu-latest, crystal: latest }
          - { os: ubuntu-latest, crystal: nightly }
          - { os: macos-latest }
          - { os: macos-14 }
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Crystal
        uses: crystal-lang/install-crystal@v1
        with:
          crystal: ${{ matrix.crystal }}
      - name: Check out repository code
        uses: actions/checkout@v6
      - name: Run tests
        run: crystal spec
